<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
  <div id="chatBox">
    <div *ngFor="let m of chat">
        <p *ngIf="m.user === 'Me'">{{m.user[0]}} --> {{m.msg}}</p>
        <p *ngIf="m.user !== 'Me'">{{m.msg}} <-- {{m.user[0]}}</p>
    </div>
  </div>
  
  <input type="text" [(ngModel)]="message" />
  <button type="button" (click)="sendMessage()">Send</button>
</div>


<router-outlet></router-outlet>
